body{
    background-image: url('./background.png');
}
.outerdiv{
    background-color: rgb(209,220,235);
    width: 1200px;
    height: 1600px;
}
.innerdiv1_1{
    width: 1200px;
    height:160px;
    background-color: white;
}
.innerdiv1_2{
    width: 1200px;
    height:30px;
    background-color: rgb(153,204,255);
    position: relative;
    top: -11px;
}

.innerdiv1_3{
    width: 190px;
    height: 1400px;
    background-color: white;
    position: relative;
    top: -20px;
    right:505px;
    border: 1px solid rgb(82,163,239)ue;
}
.menu_style{
    color:white;
    font-family: sans-serif;
    font-size:smaller;
    position: relative;
    top: 11px;
    font-weight:lighter;
    text-align:center;
}
.dotted_line{
    border-bottom:dashed 1px;
    height:1px;	
}
a{		
    text-decoration:none;
    font-family:sans-serif;
    font-size:11px;
    color: rgb(0,0,255);
}
.data{
    height:-3px;
}
table{
    width:180px;
    height:1000px; 
    border:1px solid balck;
}
table{
    border: 1px solid blue;
    position: inherit;
    left:4px;
}
.innerdiv1_3_1{
    width:180px;
    height:38px;
    background-color:rgb(77,130,210);
    position: relative;
    left:4px;
}
